﻿{% macro chart(id,url,interval,width,height,ticks,YName) %}
<div>
    <div id="{{id}}"></div>
    <script>chart_script("{{id}}", "{{url}}",{{interval}},{{width}},{{height}},{{ticks}},"{{YName}}");</script>
</div>
{% endmacro %}

{% macro chart_script() %}
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    var chart_script = function (id,url,interval,pwidth,pheight,ticks,YName) {
            var margin = { top: 20, right: 120, bottom: 120, left: 50 },
                width = pwidth - margin.left - margin.right,
                height = pheight - margin.top - margin.bottom;

            var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
            var timeNameFormat = d3.time.format("%H:%M:%S");

            // Set the ranges
            var x = d3.time.scale().range([0, width]);
            var y = d3.scale.linear().range([height, 0]);

            var color = d3.scale.category10();
            //var color = d3.scale.ordinal().range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

            var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(ticks);
            var yAxis = d3.svg.axis().scale(y).orient("left");


            var line = d3.svg.line()
                .interpolate("basis")
                .x(function (d) { return x(d.date); })
                .y(function (d) { return y(d.temperature); });

            var svg = d3.select("#" + id)
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.tsv(url, function (error, data) {
                if (error) throw error;

                color.domain(d3.keys(data[0]).filter(function (key) { return key !== "date"; }));

                data.forEach(function (d) {
                    d.date = parseDate(d.date.trim());
                });

                var cities = color.domain().map(function (name) {
                    return {
                        name: name,
                        values: data.map(function (d) {
                            return { date: d.date, temperature: +d[name] };
                        })
                    };
                });

                x.domain(d3.extent(data, function (d) { return d.date; }));

                y.domain([
                  d3.min(cities, function (c) { return d3.min(c.values, function (v) { return v.temperature; }); }),
                  d3.max(cities, function (c) { return d3.max(c.values, function (v) { return v.temperature; }); })
                ]);


                svg.append("g") // Add the X Axis
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                svg.append("g") // Add the Y Axis
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", ".71em")
                            .style("text-anchor", "end")
                            .text(YName);

                //Отметка времени
                svg.append("text")
                    .attr("id", "timenow")
                    .attr("x", width-80)
                    .text(timeNameFormat(new Date()))

                var city = svg.selectAll("#" + id + " .city")
                    .data(cities)
                    .enter().append("g")
                    .attr("class", "city");

                //Линия графика
                city.append("path")
                    //.attr("id","city_path")
                    .attr("class", "line")
                    .attr("d", function (d) { return line(d.values); })
                    .style("stroke", function (d) { return color(d.name); });

                //Летающие имена графиков
                /*city.append("text")
                  .datum(function (d) { return { name: d.name, value: d.values[d.values.length - 1] }; })
                  .attr("x", width)
                  .attr("y", function (d) { return y(d.value.temperature) })
                  .text(function (d) { return d.name; });*/

                ///легенда с квадратиками
                var legend = svg.selectAll(".legend")
                    .data(color.domain().slice().reverse())
                    .enter().append("g")
                      .attr("class", "legend")
                      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .attr("y", height + 22)
                    .attr("x", 0)
                    .attr("width", 18)
                    .attr("height", 18)
                    .style("fill", color);

                legend.append("text")
                    .attr("y", height + 30)
                    .attr("x", 24)
                    //.attr("y", 9)
                    .attr("dy", ".35em")
                    //.style("text-anchor", "end")
                    .text(function(d) { return d; });
                //\легенда

            });

            var inter = setInterval(function () {
                d3.tsv(url, function (error, data) {
                    if (error) throw error;

                    color.domain(d3.keys(data[0]).filter(function (key) { return key !== "date"; }));

                    data.forEach(function (d) {
                        d.date = parseDate(d.date.trim());
                    });

                    var cities = color.domain().map(function (name) {
                        return {
                            name: name,
                            values: data.map(function (d) {
                                return { date: d.date, temperature: +d[name] };
                            })
                        };
                    });

                    x.domain(d3.extent(data, function (d) { return d.date; }));

                    y.domain([
                      d3.min(cities, function (c) { return d3.min(c.values, function (v) { return v.temperature; }); }),
                      d3.max(cities, function (c) { return d3.max(c.values, function (v) { return v.temperature; }); })
                    ]);

                    var svg = d3.select("#" + id).transition();
                    svg.select(".x.axis")
                        .duration(1000)
                        .call(xAxis);
                    svg.select(".y.axis")
                        .duration(1000)
                        .call(yAxis);
                    svg.select("#timenow")
                       .duration(100)
                       .text(timeNameFormat(new Date()));

                    //Линия графика
                    d3.selectAll("#" + id + " .line")
                        .data(cities)
                        .transition()
                        .duration(1000)
                        .attr("d", function (d) { return line(d.values); });
                    //Летающие имена графиков
                    /*d3.selectAll("#" + id + " .city text")
                        .data(cities).datum(function (d) { return { name: d.name, value: d.values[0] }; })
                        .transition()
                        .duration(1000)
                        .attr("x", width)
                        .attr("y", function (d) { return y(d.value.temperature) })*/
                });
            }, interval);
        };
</script>
{% endmacro %}

