﻿{% extends "layout.html" %}
{% from "chart_template.html" import chart, chart_script %}

{% block style %}
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
{% endblock %}

{% block body_script %}
{{ chart_script() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">            
            <div class="caption">
                {{ chart("docplatpor1","docplatpor?minutes=120",5000,625,300,10,"Кол-во документов") }}
                <h3>Документы</h3>
                <p>За час с обновлением в 1 секунд.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption">
                {{ chart("docplatpor2","docplatpor?minutes=1440",5000,625,300,10,"Кол-во документов") }}
                <h3>Документы</h3>
                <p>За день с обновлением в 1 секунд.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <div class="caption">
                {{ chart("docplatpor3","docplatpor?minutes=10080",5000,1200,400,10,"Кол-во документов") }}
                <h3>Документы</h3>
                <p>За день с обновлением в 1 секунд.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption">
                {{ chart("chart1_svg1","data.tsv?n=100",10000,625,300,4,"Кол-во СМС") }}
                <h3>Отправка смс</h3>
                <p>100 последних замеров с обновлением в 10 секунд.</p>
            </div>
        </div>
    </div>    
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption">
                {{ chart("chart_svg2","data.tsv?n=500",10000,625,300,4,"Кол-во СМС") }}
                <h3>Отправка смс</h3>
                <p>500 последних замеров с обновлением в 10 секунд.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            {{ chart("chart4_svg4",    "data.tsv?n=2000",60000,1200,400,10,"Кол-во СМС") }}
            <div class="caption">
                <h3>СМС</h3>
                <p>2000 последних замеров, каждую минуту.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            {{ chart("chart5_svg",    "data.tsv?n=5000",600000,1200,400,10,"Кол-во СМС") }}
            <div class="caption">
                <h3>СМС</h3>
                <p>5000 замеров, каждые 10 минут.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            {{ chart("chart2_svg2","datarnd.tsv?n=500",2000,625,300,5,"Кол-во СМС") }}
            <div class="caption">
                <h3>СМС</h3>
                <p>500 случайных чисел вместо замеров, каждые 2 секунды.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            {{ chart("chart3_svg3",    "datarnd.tsv?n=100",1000,625,300,5,"Кол-во СМС") }}
            <div class="caption">
                <h3>СМС</h3>
                <p>100 случайных замеров, каждую секунду.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}