﻿
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Cache-control" content="no-cache">

        <link   href="{{ url_for('static', filename='bootstrap-3.3.6-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link   href="{{ url_for('static', filename='s.css') }}" rel="stylesheet">
        <title>БРК</title>

        <style>{% block style %}{% endblock %}</style>
  </head>

  <body style="min-width:660px;padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
      <div>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">БРК</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <span class="glyphicon glyphicon-tree-deciduous"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/connect_elba">Подключить Эльбу</a></li>
                        <li><a href="/elba_history">История</a></li>
                    </ul>
                  </li>
<!--                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <span class="glyphicon glyphicon-tree-conifer"></span>
                      </a>

                      <ul class="dropdown-menu" role="menu">                          
                          <li><a href="/change_phone">Сменить телефон</a></li>
                          <li><a href="/change_phone_history">История</a></li>
                          <li><a href="/phones">Список</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <span class="glyphicon glyphicon-cutlery"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/hash">Хэш</a></li>
                          <li><a href="/ask_token_regen">Перегенерация ЭЦП</a></li>
                      </ul>
                  </li>
-->
                  {#<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/create_all">                            Создать все элементы базы (Create all)</a></li>
                      <li class="divider"></li>
                      <li><a href="{{url_for('update_all_orders_status')}}">Обновить все статусы заказов          </a></li>
                      <li><a href="{{url_for('send_invite')}}">             Отправить приглашение                 </a></li>
                    </ul>
                  </li>#}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>

      <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
          <div class="container">

            <p>
              {% if is_debug %}
                <b>{{ db_name }}</b>
              {% else %}
                &copy; Модуль банк
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-title">
        </div>
        <div class="panel-body">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class=flashes>
              {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
              {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          
          {% block body_script %}{% endblock %}
          {% block content %}
            {#{% include 'donate_form.html' %}#}
          {% endblock %}
          
        </div>
      </div>


    </div> <!-- /container onload='javascript:resizeIframe(this);'-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <script src ="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
    <script src ="{{ url_for('static', filename='bootstrap-3.3.6-dist/js/bootstrap.min.js' ) }}"></script>


    {#<link   href="{{ url_for('static', filename='s.css') }}" rel="stylesheet">#}

  </body>

</html>


