﻿{% extends "layout.html" %}
{% block content %}    

    {% macro render_field(field) %}
        {% if field.description is mapping %}{{ field(class="form-control",placeholder=field.label.text,**field.description) }}
        {% else %}                           {{ field(class="form-control",placeholder=field.label.text) }}
        {% endif %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;margin-top: 10px;">
            {% for error in field.errors %}
                <div> {{ error }} </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endmacro %}

    {% macro render_choose_field(field) %}
        <div class="btn-group-vertical" data-toggle="buttons">
            {% for s in field %}
                <label style="text-align: left;" class="btn btn-default {% if field.data and s.data in field.data %}active{% endif%}">
                    {{s}}{{s.label}}
                </label>
            {% endfor %}
        </div>
    {% endmacro %}

    <form action="{{ form.url }}" method=post class="form-horizontal">
        {{form.hidden_tag()}}
        <table id="orders_table" class="table borderless" style="width:100%;margin-bottom: 0px;">            
            <tr><td>{{ render_field(form.client) }}</td>
                <td>{{ render_field(form.email) }}</td>
                <td>{{ render_field(form.submit) }}</td>
            </tr>                            
            <tr>
                <td colspan="2">
                    
                    <table id="orders_table" class="table borderless" style="margin-bottom: 0px;">
                        <tr><td>Подключенные</td><td style="border: none;"></td><td>Не подключенные</td></tr>
                        <tr>
                            <td class="col-md-4">{{ render_choose_field(form.connected) }}</td>
                            <td class="col-md-4">
                                <table id="orders_table" class="table borderless" style="width:100%;margin-bottom: 0px; align=center;">
                                    <tr><td>{{ render_field(form.to_conect) }}</td></tr>
                                    <tr><td>{{ render_field(form.to_disconct) }}</td></tr>
                                </table>
                            </td>                                                    
                            <td class="col-md-4">{{ render_choose_field(form.disconnected) }}</td>
                        </tr>
                    </table>
                </td>
            </tr>                            
        </table>

    </form>    

{% endblock %}
