﻿{% extends "layout.html" %}
{% block content %}
    {% import "autoform.html" as autoform %}
    {% if form %}{{ autoform.horizontal_form(form) }}{% endif %}
    {% if table %}
    <table class="table table-hover table-striped table-condensed table-bordered" style="width:100%; margin-bottom: 0px;">
        {#% if table._saved_cursor is defined and table._saved_cursor and table._saved_cursor.description is defined and table._saved_cursor.description%#}
        <tr>            
            {% for d in desc %}
            <th>{{ d }}</th>
            {% endfor %}
        </tr>
        {#% endif %#}
        {% for r in table %}
        <tr>
            {% for v in r %}
                {#<td>{{ 
                formats.get(loop.index,'{0}').format(v) 
                }}</td>#}
            
                {% if encode %}
                    <td>{{ v.encode('latin1').decode('1251') if v.__class__.__name__ == 'unicode' else v }}</td>
                {% else %}
                    <td>{{ v }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {%- endfor %}
    </table>
    {% endif %}

{% endblock %}
